html,
body {
  background-color: rgba(3, 23, 102, 0.2);
  color: white;
  height: 100%;
}
.topContainer {
  background-color: rgba(3, 23, 102, 0.5);
}
.basicButton {
  height: 25px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(3, 26, 48, 1);
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
}
.title {
  margin: auto;
  text-align: center;
}
.turnCount {
  text-align: center;
  margin-bottom: 5px;
}
.newEffectButtonContainer {
  margin: auto;
  margin-bottom: 5px;
  padding-bottom: 5px;
  width: 50%;
}
.newEffectButton {
  width: 100%;
}
.break {
  flex-basis: 100%;
  height: 0px;
}
