.formContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 25px;
}
.formItem {
  width: 40%;
  padding-top: 25px;
  border: none;
}
.formItemTitle {
  transform: translateY(20px);
  color: rgba(35, 37, 62, 1);
  text-align: left;
}
.textInput {
  color: white;
  background-color: transparent;
  border: none;
}
.textAreaInput {
  color: white;
  background-color: transparent;
  border: none;
}
::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-style: italic;
}
.requiredText {
  font-size: 12px;
  font-style: italic;
  margin-top: 1px;
  margin-bottom: 1px;
}
.durationInputContainer {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.durationNumberInput {
  width: inherit;
}
.durationTypeSelector {
  user-select: none;
  -webkit-user-select: none;
  text-align: center;
  height: 25px;
  line-height: 25px;
  margin-left: 10px;
  padding: 0px 4px 0px 4px;
  background-image: radial-gradient(
    rgba(240, 231, 169, 1),
    rgba(123, 171, 173, 1) 70%
  );
}
.durationTypeSelectorOptionsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.durationTypeSelectorOptions {
  margin-bottom: 10px;
  user-select: none;
  -webkit-user-select: none;
  height: 25px;
  line-height: 25px;
  padding: 0px 4px 0px 4px;
  background-color: transparent;
  background-image: radial-gradient(rgba(240, 231, 169, 1), transparent 90%);
}
.permanent {
  background-color: transparent;
  background-image: radial-gradient(rgba(184, 158, 212, 1), transparent 90%);
}
.addEffectButtonContainer {
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  width: 30%;
  display: flex;
  justify-content: center;
}
.addEffectButton {
  width: 100%;
  margin-top: 10px;
}
