.formContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: gray;
  margin-bottom: 5px;
  border: 3px solid black;
}
.formItem {
  width: 40%;
  background-color: rgba(0, 0, 0, 0.5);
}
.formItemTitle {
  margin-bottom: 0;
  text-align: left;
}
.requiredText {
  font-size: 12px;
  font-style: italic;
  margin-top: 1px;
  margin-bottom: 1px;
}
.durationInputContainer {
  display: flex;
  justify-content: flex-start;
}
.durationNumberInput {
  width: 25%;
  margin-right: 5px;
}
.addEffectButtonContainer {
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  width: 30%;
  display: flex;
  justify-content: center;
}
.addEffectButton {
  width: 100%;
}
