.turnManipulatorButtonsContainer {
  margin: auto;
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.resetButtonContainer {
  margin: auto;
  width: 30%;
}
.resetButton {
  width: 100%;
  margin-top: 5px;
}
