.modalBody {
  padding-bottom: 10px;
  width: 90%;
}
.jumpOptionsButtonContainer {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.jumpOptionsButton {
  margin-bottom: 10px;
}
.jumpNumberInputAndGoButtonContainer {
  width: 20%;
  margin: auto;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.jumpNumberInput {
}
.goButton {
  height: 25px;
  width: 40px;
  background-image: radial-gradient(rgba(240, 231, 169, 1), transparent 70%);
}
.closeModalButtonContainer {
  width: 30%;
  margin: auto;
  margin-top: 5px;
  padding-bottom: 5px;
}
.closeModalButton {
  width: 100%;
}
.keepEffectsContainer {
  color: white;
}
.keepEffectsHeader {
  text-align: center;
  margin-top: 0;
  padding-top: 10px;
}
.keepLoseHeaders {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: auto;
}
.smallHeaders {
  margin: 0;
}
.listOfEffectsContainer {
  display: flex;
  margin: auto;
  padding-bottom: 10px;
  width: 90%;
  justify-content: space-around;
}
.effectsToKeepContainer {
  width: 48%;
  padding-top: 7px;
  padding-bottom: 7px;
  box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.7),
    inset -3px -3px 10px rgba(255, 255, 255, 0.9);
}
.effectsToLoseContainer {
  width: 48%;
  padding-top: 7px;
  padding-bottom: 7px;
  box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.7),
    inset -3px -3px 10px rgba(255, 255, 255, 0.9);
}
.effectButtonContainer {
  width: 90%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
.effectButton {
  width: 100%;
}
.confirmKeepersButtonContainer {
  width: 50%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 10px;
}
.confirmKeepersButton {
  width: 100%;
  background-image: radial-gradient(rgba(242, 137, 137, 1), transparent 100%);
}
